* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-size: 100%;
    color: #fff;
    user-select: none;
    overflow: hidden;
    background: #000;
}

.background {
    position: absolute;
    filter: blur(5px);
    opacity: 0.3;
    width: 100%;
}